<!DOCTYPE html>
<html lang="nl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> MILLEDONI </title>


  <!-- Laad de CSS-bestanden voor de andere pagina's -->
  <link rel="stylesheet" href="/assets/styles/variables.css ">
  <link rel="stylesheet" href="/assets/styles/home.css ">
  <link rel="stylesheet" href="/assets/styles/tablet.css ">
  <link rel="stylesheet" href="/assets/styles/desktop.css ">
  <link rel="stylesheet" href="/assets/styles/like-button.css ">
  <link rel="stylesheet" href="/assets/styles/loading.css ">



</head>
<body>